/* UX - YTB Slider --- */
.ytb-slider-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;

  --iframe-h: 400px;
  --thumb-w: 80px;
  --thumb-bg: #fafafa;
  --thumb-color: #000;
  --thumb-border: #fff;
  --thumb-bg-hover: #f2f2f2;
}

.ytb-slider-area .ytb-thumb-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.ytb-slider-area .ytb-thumb-icon {
  width: var(--thumb-w);
  padding-top: calc(var(--thumb-w) * 56 / 100);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
}

.ytb-slider-area .ytb-thumb-text {
  flex: 1;
  font-size: 15px;
  font-family: inherit;
  line-height: 1.4;
  color: var(--thumb-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ytb-slider-area .ytb-iframe {
  flex: 7 7;
}

.ytb-slider-area .ytb-iframe-inner {
  position: relative;
  width: 100%;
  padding-top: var(--iframe-h);
}

.ytb-slider-area .ytb-iframe iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.ytb-slider-area .swiper-ytb-thumb {
  flex: 3 3;
  height: var(--iframe-h);
  min-width: 340px;
  max-width: 100%;
  background: var(--thumb-bg);
}

.ytb-slider-area .ytb-thumb {
  height: fit-content;
  cursor: pointer;
}

.ytb-slider-area .ytb-thumb-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 15px 15px;
  background-color: var(--thumb-bg);
  border-top: 1px solid var(--thumb-border);
  transition: 320ms background-color;
}

.ytb-slider-area .ytb-thumb:first-child .ytb-thumb-inner {
  border-top: 1px solid var(--thumb-bg);
}

.ytb-slider-area .ytb-thumb-inner:hover,
.ytb-slider-area .ytb-thumb.active .ytb-thumb-inner {
  background-color: var(--thumb-bg-hover);
}

/* Responsive */
@media only screen and (max-width: 849px) {
  .ytb-slider-area {
    flex-wrap: wrap;
  }

  .ytb-slider-area .ytb-iframe {
    flex: unset;
    width: 100%;
  }

  .ytb-slider-area .swiper-ytb-thumb {
    flex: unset;
    width: 100%;
    min-width: unset;
  }
}

@media only screen and (max-width: 550px) {
  .ytb-slider-area {
    --iframe-h: 240px;
  }

  .ytb-slider-area .ytb-thumb-inner {
    gap: 12px;
    padding: 12px 10px;
  }
}